<a href="https://colab.research.google.com/github/ulises1229/IntroPythonCENAM/blob/master/code/cenam_d%C3%ADa2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Día 2 - Almacenamiento de datos
##### Autores: Ulises Olivares, Walter Hauri
##### uolivares@unam.mx
##### 15 diciembre de 2022

*#### Tuplas*

In [ ]:
#### Ejercicio 4 Tuplas

import statistics as st

cal = (8, 9, 5, 10, 8, 7.2, 9, 8, 8, 10)

# Obtener el promedio de las calificaciones
promedio = sum(cal) / len(cal)
print("El promedio de las calificaciones es: " + str(promedio))

# Obtener la calificación máxima
print("La calificación máxima es: " + str(max(cal)))

# Obtener la calificación mínima
print("La calificación máxima es: " + str(min(cal)))

# Obtener la moda usar librería statistics
print("La moda es: " + str(st.mode(cal)))

# Ordenar calificaciones
print("Calificaciones ordenadas menor a mayor: " + str(sorted(cal)))

#### *Conjuntos*

In [ ]:
# Conjnuntos 
# Ejercicio 4

set1 = {10, 20, 30, 40, 50}
set2 = {60, 20, 80, 90, 10}

type(set1)

# Elementos en común 
print ("Elementos en común: " +str(set1 & set2))

# Elementos si repeticiones (Unión)
print("Elementos sin repetición: " + str(set1|set2))

# Primer conjunto sin elementos {10,20, 30}
print(set1 - {10, 20, 30})

*#### Diccionarios*

In [ ]:
# Uso de diccionarios

frutas= {'Fresa':'rojo', 'Limón':'verde', 'Kiwi': ['cafe', 'verde']}
for fruta, color in frutas.items():
  print(fruta + " es de color: " + str(color))

Fresa es de color: rojo
Limón es de color: verde
Kiwi es de color: ['cafe', 'verde']

Ejercicio 1 - Diccionarios

In [ ]:
# Recuperar los precios de artículos para calcular el total de la compra
oficina = {'hojas':'32.5', 'tijeras':'50.45', 'lápiz':'10'}
claves = {'1': 'hojas', '2': 'tijeras', '3':'lápiz'}

producto = input("Selecciona un objeto de  la lista: \n 1) Hojas \n 2) Tijeras \n 3) Lápiz \n")
cant = int(input("¿Cuantos productos vas a comprar? \n"))

precio = float(oficina[claves[producto]])
             
print("El total a pagar es de: " + str(precio * cant))

Selecciona un objeto de  la lista:
 1) Hojas
 2) Tijeras
 3) Lápiz
1
¿Cuantos productos vas a comprar?
3
El total a pagar es de: 97.5

In [ ]:
# Variante sencilla del ejercicio anterior(usando un solo diccionario)
producto = input("Escribe un objeto de  la lista: \n hojas \n tijeras \n lápiz \n")
cant = int(input("¿Cuantos artículos vas a comprar?\n"))
precio = float(oficina[producto])
print("El total a pagar es de: " + str(precio * cant))

Escribe un objeto de  la lista:
 hojas
 tijeras
 lápiz
hojas
¿Cuantos artículos vas a comprar?
1
El total a pagar es de: 32.5

### Librerías - Números aleatorios

Ejercicio 3 - Histograma

In [ ]:
import random as rn

def generarNumeros(n):
  randomNum = []
  for i in range(n):
    randomNum.append(rn.randint(1, 99))
  return randomNum


def genHistograma(random, hist):
  for i in random:
    indice = int(i/len(hist))
    #print("indice: " + str(indice) + " num: " + str(i) )
    hist[indice] += 1
    #print("Elemento i: " + str (i) + " Pos: " + str(int(i/len(hist))))
  return hist

# Inicializar hostograma 10 posiciones
hist = [0,0,0,0,0,0,0,0,0,0]
n = 10000 #10K elementos

# inicializar 10,000 números aleatorios
random = generarNumeros(n)

# contabilizar elementos y generar histograma
hist = genHistograma(random, hist)

print("Histograma resultante: " + str(hist))

# Verificar resultado 
# La suma de los elementos de hist debe ser igual que n
if (sum(hist) == n):
  print("El resultado es correcto")
else:
  print("Existen elementos faltantes")

Histograma resultante: [885, 1044, 1014, 1011, 953, 1092, 983, 1003, 1022, 993]
El resultado es correcto

#### *Librerías - Numpy*

Demostrar el uso de arreglos unidimensionales y bi-dimensionales utilizando numpy.

In [ ]:
# importar librería de numpy 
import numpy as np

# Creara un arreglo bi-dimensional
a = np.array([[1.0,2,3], 
              [4,5,6]], 
             dtype = np.float16)
# Imprimir matriz
print(a)

# IMP
print("Dimensiones: " + str(a.ndim))
print("Forma: " + str(a.shape))
print("Tipo de datos: " + str(a.dtype))

[[1. 2. 3.]
 [4. 5. 6.]]
Dimensiones: 2
Forma: (2, 3)
Tipo de datos: float16

In [ ]:
# Creación de arreglos
# Arreglo de 1s
ones = np.ones((3,5), dtype=np.float32)
# Arreglo de 0s
zeros = np.zeros((5,5), dtype=np.float32)

#Impresión de matrices
print(ones)
print(zeros)

print("Matriz 1s tiene: " + str(len(ones)) + " filas y " + str(len(ones[0])) + " columnas")

# Acceso a la matriz usando índices
filas = len(ones)
columnas = len(ones[0])

print("Impresión utilizando índices")
for i in range(filas):
  for j in range(columnas):
    print(ones[i][j], end= " ")
  print(" ")

print("Impresión utilizando elementos")
# Acceso usando elementos
for i in ones:
  for j in i:
    print(j , end =" ")
  print(" ")

[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]
[[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]
Matriz 1s tiene: 3 filas y 5 columnas
Impresión utilizando índices
1.0 1.0 1.0 1.0 1.0
1.0 1.0 1.0 1.0 1.0
1.0 1.0 1.0 1.0 1.0
Impresión utilizando elementos
1.0 1.0 1.0 1.0 1.0
1.0 1.0 1.0 1.0 1.0
1.0 1.0 1.0 1.0 1.0

#### Ejercicio 4 - Iterar sobre la diagonal principal

In [ ]:
# Ejercicio 4 1 en diagonal principal y traza de una matrix
zeros = np.zeros((10,10), dtype=np.float32)
print("Matriz Original: \n" + str(zeros))

for i in range(len(zeros)):
  zeros[i][i] = 1

# Calcular la traza de una matriz
traza = 0
for i in range(len(zeros)):
  traza =  traza + zeros[i][i] 

print("La traza de la matriz es: " + str(traza))

print("Matriz con 1's: \n" + str(zeros))

Matriz Original:
[[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]]
La traza de la matriz es: 10.0
Matriz con 1's:
[[1. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 1. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 1. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 1. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 1. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 1.]]

#### Ejercicio 5 - Escritura en elementos pares e impares

In [ ]:
import numpy as np

# Generar un vector (lineal) 10 elementos 0 - 99
A = np.arange(100)

for i in range(len(A)): 
  # Elementos pares
  if (A[i] % 2 == 0):
    A[i] = -2
  else:
    A[i] = -1
print(A)

[-2 -1 -2 -1 -2 -1 -2 -1 -2 -1 -2 -1 -2 -1 -2 -1 -2 -1 -2 -1 -2 -1 -2 -1
 -2 -1 -2 -1 -2 -1 -2 -1 -2 -1 -2 -1 -2 -1 -2 -1 -2 -1 -2 -1 -2 -1 -2 -1
 -2 -1 -2 -1 -2 -1 -2 -1 -2 -1 -2 -1 -2 -1 -2 -1 -2 -1 -2 -1 -2 -1 -2 -1
 -2 -1 -2 -1 -2 -1 -2 -1 -2 -1 -2 -1 -2 -1 -2 -1 -2 -1 -2 -1 -2 -1 -2 -1
 -2 -1 -2 -1]

In [ ]:
# Generación de un vector a través del uso de rangos
np.arange(1, 100)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
       86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [ ]:
# Concatenando arreglos o matrices
A = np.ones((5,3), dtype = np.float32)
B = np.zeros((5,4), dtype = np.float32)

# concatenar matrices
np.concatenate([A,B], axis = 1)

array([[1., 1., 1., 0., 0., 0., 0.],
       [1., 1., 1., 0., 0., 0., 0.],
       [1., 1., 1., 0., 0., 0., 0.],
       [1., 1., 1., 0., 0., 0., 0.],
       [1., 1., 1., 0., 0., 0., 0.]], dtype=float32)

In [ ]:
# Uso de Astype para hacer un cast de tipos de datos
A = np.zeros((5,4), dtype = np.float32)
print(len(A[0]))

for i in range(len(A)):
  for j in range(len(A[0])):
    A[i][j] = np.pi
print(A)

print(A.astype(np.int16))

4
[[3.1415927 3.1415927 3.1415927 3.1415927]
 [3.1415927 3.1415927 3.1415927 3.1415927]
 [3.1415927 3.1415927 3.1415927 3.1415927]
 [3.1415927 3.1415927 3.1415927 3.1415927]
 [3.1415927 3.1415927 3.1415927 3.1415927]]
[[3 3 3 3]
 [3 3 3 3]
 [3 3 3 3]
 [3 3 3 3]
 [3 3 3 3]]

In [ ]:
# Uso de np.zeros_like y np.ones_like
A = np.ones((4,4))
print(A)
# zeros_like genera un arreglo de las 
# mismas dimensiones que el original 
B = np.zeros_like(A)
print(B)

[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]
[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]

In [ ]:
# Generación de arreglos aleatorios
A = np.random.random((5, 5))
print(A)
# Generación de números enteros del 0 al n-1 
n = 10
B= np.random.randint(10, size = (7,7))
print(B)

[[0.77660053 0.26296099 0.88039588 0.04823786 0.10309384]
 [0.48729586 0.3771756  0.48484433 0.34679897 0.74569246]
 [0.1103608  0.55375063 0.80777421 0.16883789 0.18751702]
 [0.41290608 0.6659239  0.41775295 0.94601225 0.19686526]
 [0.58423953 0.88600177 0.25069284 0.24865989 0.07879548]]
[[7 1 7 4 4 0 1]
 [4 6 8 7 4 1 0]
 [5 0 4 3 4 1 1]
 [6 2 2 0 7 6 7]
 [5 5 8 4 0 3 3]
 [7 0 3 2 7 4 2]
 [1 6 9 0 8 1 7]]

#### Ejercicio 6 - Lectura de un conjunto de elementos de una matriz

In [ ]:
import random as rn

# Generar una matriz aleatorio de 10 x 10
A = np.random.randint(100, size=(10, 10))
print("Matriz original: \n" + str(A))

suma = 0
# Iterar sobre las filas
for i in range(len(A)):
  # Iterar sobre las columnas
  for j in range(i, len(A[0])):
    suma += A[i][j]

print("La sumatorio de los elementos del tríangulo superior es: " + str(suma))

Matriz original:
[[74 73 62 44  0 88 98 64 49 29]
 [ 9 69  0 42 18 62 40 48 17 67]
 [15  5 40 58 84 63 30  0 56 66]
 [23 52 66 57 76 98 82 98  2 81]
 [20  3 76 15 94 96 81 41 31 27]
 [14 11 15 83  5 28 65 91 16  3]
 [53 82 60 35 32 40 88 58 49 74]
 [ 2 22 27  6  3 61 73 54  7 28]
 [99 74  5 96 24 70 86 49  6 96]
 [68 27 82 64 26 64 43 70 67  4]]
La sumatorio de los elementos del tríangulo superior es: 2872

In [ ]:
# Transformaciones de arreglos
A = np.array([1,2,3,4,5,6])
print(A)

# Transformar a 3 filas, 2 columnas
A = A.reshape(3, 2)
print(A)

# Se utiliza -1 para determinar cols
A = A.reshape(2, -1)
print(A)

# Transormar a un arreglo lineal
A = A.ravel()
print(A)

[1 2 3 4 5 6]
[[1 2]
 [3 4]
 [5 6]]
[[1 2 3]
 [4 5 6]]
[1 2 3 4 5 6]

In [ ]:
# Transpuesta de una matriz
A = np.arange(25).reshape(5,5)
print("Matriz Original: \n" + str(A))
# Imprimir matriz transpuesta
print("Matriz Transpuesta: \n" + str(A.T))
# Imprimir matriz 
print("Matriz Transpuesta: \n" + str(A.transpose((1,0))))

Matriz Original:
[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]]
Matriz Transpuesta:
[[ 0  5 10 15 20]
 [ 1  6 11 16 21]
 [ 2  7 12 17 22]
 [ 3  8 13 18 23]
 [ 4  9 14 19 24]]
Matriz Transpuesta:
[[ 0  5 10 15 20]
 [ 1  6 11 16 21]
 [ 2  7 12 17 22]
 [ 3  8 13 18 23]
 [ 4  9 14 19 24]]

In [ ]:
# Operadores Matemáticos
A = np.arange(100).reshape(10,10)
print("Primer Matriz: \n" + str(A))

B = np.arange(100, 200).reshape(10, 10)
print("Segunda Matriz: \n" + str(B))

# Calcular la suma de ambas matrices
print("Suma: "  + str(A + B))

# Calcular la resta de ambas matrices
print("Suma: "  + str(B - A))

# Calcular la multiplicación de ambas matrices
print("Suma: "  + str(A * B))

Primer Matriz:
[[ 0  1  2  3  4  5  6  7  8  9]
 [10 11 12 13 14 15 16 17 18 19]
 [20 21 22 23 24 25 26 27 28 29]
 [30 31 32 33 34 35 36 37 38 39]
 [40 41 42 43 44 45 46 47 48 49]
 [50 51 52 53 54 55 56 57 58 59]
 [60 61 62 63 64 65 66 67 68 69]
 [70 71 72 73 74 75 76 77 78 79]
 [80 81 82 83 84 85 86 87 88 89]
 [90 91 92 93 94 95 96 97 98 99]]
Segunda Matriz:
[[100 101 102 103 104 105 106 107 108 109]
 [110 111 112 113 114 115 116 117 118 119]
 [120 121 122 123 124 125 126 127 128 129]
 [130 131 132 133 134 135 136 137 138 139]
 [140 141 142 143 144 145 146 147 148 149]
 [150 151 152 153 154 155 156 157 158 159]
 [160 161 162 163 164 165 166 167 168 169]
 [170 171 172 173 174 175 176 177 178 179]
 [180 181 182 183 184 185 186 187 188 189]
 [190 191 192 193 194 195 196 197 198 199]]
Suma: [[100 102 104 106 108 110 112 114 116 118]
 [120 122 124 126 128 130 132 134 136 138]
 [140 142 144 146 148 150 152 154 156 158]
 [160 162 164 166 168 170 172 174 176 178]
 [180 182 184 186 188 190 192 194 196 198]
 [200 202 204 206 208 210 212 214 216 218]
 [220 222 224 226 228 230 232 234 236 238]
 [240 242 244 246 248 250 252 254 256 258]
 [260 262 264 266 268 270 272 274 276 278]
 [280 282 284 286 288 290 292 294 296 298]]
Suma: [[100 100 100 100 100 100 100 100 100 100]
 [100 100 100 100 100 100 100 100 100 100]
 [100 100 100 100 100 100 100 100 100 100]
 [100 100 100 100 100 100 100 100 100 100]
 [100 100 100 100 100 100 100 100 100 100]
 [100 100 100 100 100 100 100 100 100 100]
 [100 100 100 100 100 100 100 100 100 100]
 [100 100 100 100 100 100 100 100 100 100]
 [100 100 100 100 100 100 100 100 100 100]
 [100 100 100 100 100 100 100 100 100 100]]
Suma: [[    0   101   204   309   416   525   636   749   864   981]
 [ 1100  1221  1344  1469  1596  1725  1856  1989  2124  2261]
 [ 2400  2541  2684  2829  2976  3125  3276  3429  3584  3741]
 [ 3900  4061  4224  4389  4556  4725  4896  5069  5244  5421]
 [ 5600  5781  5964  6149  6336  6525  6716  6909  7104  7301]
 [ 7500  7701  7904  8109  8316  8525  8736  8949  9164  9381]
 [ 9600  9821 10044 10269 10496 10725 10956 11189 11424 11661]
 [11900 12141 12384 12629 12876 13125 13376 13629 13884 14141]
 [14400 14661 14924 15189 15456 15725 15996 16269 16544 16821]
 [17100 17381 17664 17949 18236 18525 18816 19109 19404 19701]]

In [ ]:
# Operadores lógicos

A = np.random.random((5,5))
print("Matriz Original: \n" + str(A))

# Operador lógico
print("Operador lógico a >5 \n" + str(a>0.5))

Matriz Original:
[[0.0124458  0.75318949 0.51012785 0.14677449 0.38131653]
 [0.63214844 0.49240062 0.72302018 0.5913991  0.34027848]
 [0.52156944 0.39808869 0.46779844 0.03746587 0.8252981 ]
 [0.8354298  0.7554512  0.53322169 0.09566736 0.7134824 ]
 [0.6791975  0.23094997 0.0116702  0.10245596 0.39682071]]
Operador lógico a >5
[[False  True False  True  True  True  True  True False  True]
 [ True False  True False False  True  True  True  True False]
 [ True  True  True False  True  True  True False False  True]
 [ True False  True  True False False  True False False False]
 [False  True False  True False  True  True False  True  True]
 [ True False  True False False False  True False False  True]
 [ True False  True  True False False False False False False]
 [False False  True  True False  True False  True  True False]
 [ True False  True False False  True False  True False False]
 [False False False False  True  True  True False  True False]]

In [ ]:
# Operaciones in-situ 
A = np.random.randint(10, size= (5,5))
print("Matriz A Original: \n" + str(A))

B = A = np.random.randint(10, size= (5,5))
print("Matriz B Original: \n" + str(B))

# Operación in-situ
A += B
print("Matriz A Modificada: \n" + str(A))

Matriz A Original:
[[0 0 7 9 2]
 [3 6 9 3 0]
 [1 1 2 5 1]
 [3 5 6 9 4]
 [1 1 7 7 5]]
Matriz B Original:
[[2 8 3 7 1]
 [3 1 1 7 0]
 [7 5 0 5 1]
 [2 9 5 9 5]
 [3 4 6 8 0]]
Matriz A Modificada:
[[ 4 16  6 14  2]
 [ 6  2  2 14  0]
 [14 10  0 10  2]
 [ 4 18 10 18 10]
 [ 6  8 12 16  0]]

In [ ]:
# Funciones universales
A = np.random.randint(10, size= (5,5))
print("Matriz A Original: \n" + str(A))

# Calcular Raiz cuadrada
print("Raiz Cuadrada: \n" + str(np.sqrt(A)))

Matriz A Original:
[[0 7 0 0 0]
 [8 7 2 1 4]
 [3 7 6 9 9]
 [3 9 2 3 4]
 [3 7 2 3 5]]
Raiz Cuadrada:
[[0.         2.64575131 0.         0.         0.        ]
 [2.82842712 2.64575131 1.41421356 1.         2.        ]
 [1.73205081 2.64575131 2.44948974 3.         3.        ]
 [1.73205081 3.         1.41421356 1.73205081 2.        ]
 [1.73205081 2.64575131 1.41421356 1.73205081 2.23606798]]

#### Inversa de una matriz

In [ ]:
# Inversa de una matriz
import numpy as np

# Inicializar una matriz 
A = np.random.randint(10, size= (5,5))
print("Matriz A Original: \n" + str(A))

# Calcular matriz inversa
B = np.linalg.inv(A)
print("Matriz Inversa A^-1: \n" + str(B))

Matriz A Original:
[[8 0 1 9 5]
 [9 2 4 5 2]
 [8 5 1 1 3]
 [5 7 9 2 9]
 [1 7 3 7 1]]
Matriz Inversa A^-1:
[[-0.0137931   0.08390805  0.06781609 -0.02873563 -0.04367816]
 [-0.04396552 -0.06587644  0.11199713 -0.00826149  0.08994253]
 [-0.09094828  0.17826868 -0.14658764  0.06052443 -0.00675287]
 [ 0.06810345  0.00237069 -0.06400862 -0.02478448  0.06982759]
 [ 0.11767241 -0.17417385  0.0360273   0.0784842  -0.05445402]]

#### Ejercicio 7 - Operadores aritméticos

In [ ]:
import numpy as np

# Generar una matriz de 10 x 10
A = np.random.randint(10, size = (10,10))
print("Matriz A Original: \n" + str(A))

# Calcular el cuadraro de una matriz de 10 x 10
print("Cuadrado de la matriz: \n" + str(np.square(A)))

# Multiplicación de matrices
print("Inversa de de la matriz: \n" + str(np.linalg.inv(A)))

Matriz A Original:
[[6 6 5 8 9 2 6 7 8 5]
 [8 7 4 4 2 7 6 3 7 2]
 [8 2 0 5 5 5 9 2 1 0]
 [4 9 6 5 3 1 2 5 4 9]
 [1 8 2 3 2 6 9 7 5 5]
 [1 3 1 7 4 1 9 4 1 1]
 [7 0 3 0 6 5 3 3 0 1]
 [6 8 8 8 6 9 2 5 8 2]
 [1 1 1 5 7 3 1 8 6 2]
 [9 1 1 0 2 5 3 5 1 7]]
Cuadrado de la matriz:
[[36 36 25 64 81  4 36 49 64 25]
 [64 49 16 16  4 49 36  9 49  4]
 [64  4  0 25 25 25 81  4  1  0]
 [16 81 36 25  9  1  4 25 16 81]
 [ 1 64  4  9  4 36 81 49 25 25]
 [ 1  9  1 49 16  1 81 16  1  1]
 [49  0  9  0 36 25  9  9  0  1]
 [36 64 64 64 36 81  4 25 64  4]
 [ 1  1  1 25 49  9  1 64 36  4]
 [81  1  1  0  4 25  9 25  1 49]]
Inversa de de la matriz:
[[-0.19961654  0.29983938 -0.00432645  0.17652517 -0.17711762  0.08272503
   0.10785618 -0.17784635  0.18232593 -0.07203926]
 [-0.32868895  0.2324998   0.1930608   0.37381551 -0.04556008 -0.09409127
   0.13827851 -0.21677544  0.27893069 -0.30379883]
 [ 0.10570453  0.04488377 -0.33588277 -0.13791622 -0.04585367  0.24037212
   0.12015461  0.08655869 -0.17873794  0.09657942]
 [-0.01531697 -0.08198673  0.05103928 -0.01743816 -0.06909003  0.08415731
  -0.15257954  0.11813988 -0.0088946   0.08469765]
 [ 0.16982365 -0.2719414   0.21621469 -0.01809667  0.13154789 -0.25700862
   0.00246963  0.05953657 -0.06665791 -0.07590331]
 [ 0.10777492 -0.29209964  0.10833691 -0.16921921  0.15938976 -0.14138261
  -0.12864481  0.23500307 -0.15158098  0.12493314]
 [ 0.17460316 -0.06316396 -0.08350708 -0.16519536  0.08405342  0.06348681
  -0.01539827  0.03529139 -0.17591126  0.07899349]
 [-0.4586497   0.50298585 -0.21053855  0.28865493 -0.21988941  0.316372
   0.26953436 -0.30142184  0.42462225 -0.14906824]
 [ 0.28877322 -0.07107188 -0.05682357 -0.22661385  0.08212108 -0.10657342
  -0.14611716  0.0781453  -0.14684457  0.10246944]
 [ 0.37452531 -0.46084607  0.08109767 -0.23763017  0.19865621 -0.19080327
  -0.24945911  0.25140503 -0.32834834  0.255515  ]]

# Dataframes - Limpieza de datos

#### Lectura de dataframes

In [ ]:
# importar la librería de pandas como pd
import pandas as pd

#Leer el dataframe salaries.csv
df = pd.read_csv("https://raw.githubusercontent.com/ulises1229/INTRO-PYTHON-ENESJ/master/data/salaries.csv")
print(df)

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [ ]:
# Revisar los primeros registros del df
df.head()

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515
3  Prof          A   40       31  Male  131205
4  Prof          B   20       18  Male  104800

In [ ]:
# Revisar los últimos registros del df?

In [ ]:
# Comprobar el tipo de datos de la columna salary 
df['salary'].dtype

dtype('int64')

#### Atributos de dataframes

In [ ]:
# Comprobar el tipo de datos de todas las columnas
df.dtypes

rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object

In [ ]:
# Listar los nombres de las columnas
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [ ]:
# Listar etiquetas de fila y nombres de columna
df.axes

[RangeIndex(start=0, stop=78, step=1),
 Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')]

In [ ]:
# Listar el número de dimensiones
df.ndim

2

In [ ]:
# Listar el número de  elementos totales
df.size

468

In [ ]:
# Devuelve una tupla con las dimensiones
df.shape

(78, 6)

In [ ]:
# Representación en numpy de los datos
lista = df.values

prom = 0
for i in lista:
  prom += i[5]
prom = prom/len(lista)
print("Promedio: " + str(prom))

Promedio: 108023.78205128205

In [ ]:
df.iloc[0:50]

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
5        Prof          A   20       20    Male  122400
6   AssocProf          A   20       17    Male   81285
7        Prof          A   18       18    Male  126300
8        Prof          A   29       19    Male   94350
9        Prof          A   51       51    Male   57800
10       Prof          B   39       33    Male  128250
11       Prof          B   23       23    Male  134778
12   AsstProf          B    1        0    Male   88000
13       Prof          B   35       33    Male  162200
14       Prof          B   25       19    Male  153750
15       Prof          B   17        3    Male  150480
16   AsstProf          B    8        3    Male   75044
17   AsstProf          B    4        0    Male   92000
18       Prof          A   19        7    Male  107300
19       Prof          A   29       27    Male  150500
20   AsstProf          B    4        4    Male   92000
21       Prof          A   33       30    Male  103106
22   AsstProf          A    4        2    Male   73000
23   AsstProf          A    2        0    Male   85000
24       Prof          A   30       23    Male   91100
25       Prof          B   35       31    Male   99418
26       Prof          A   38       19    Male  148750
27       Prof          A   45       43    Male  155865
28   AsstProf          B    7        2    Male   91300
29       Prof          B   21       20    Male  123683
30  AssocProf          B    9        7    Male  107008
31       Prof          B   22       21    Male  155750
32       Prof          A   27       19    Male  103275
33       Prof          B   18       18    Male  120000
34  AssocProf          B   12        8    Male  119800
35       Prof          B   28       23    Male  126933
36       Prof          B   45       45    Male  146856
37       Prof          A   20        8    Male  102000
38   AsstProf          B    4        3    Male   91000
39       Prof          B   18       18  Female  129000
40       Prof          A   39       36  Female  137000
41  AssocProf          A   13        8  Female   74830
42   AsstProf          B    4        2  Female   80225
43   AsstProf          B    5        0  Female   77000
44       Prof          B   23       19  Female  151768
45       Prof          B   25       25  Female  140096
46   AsstProf          B   11        3  Female   74692
47  AssocProf          B   11       11  Female  103613
48       Prof          B   17       17  Female  111512
49       Prof          B   17       18  Female  122960

#### Métodos para dataframes

In [ ]:
# Descibir con estadística descriptiva las columnas numéricas
df.describe()

             phd    service         salary
count  78.000000  78.000000      78.000000
mean   19.705128  15.051282  108023.782051
std    12.498425  12.139768   28293.661022
min     1.000000   0.000000   57800.000000
25%    10.250000   5.250000   88612.500000
50%    18.500000  14.500000  104671.000000
75%    27.750000  20.750000  126774.750000
max    56.000000  51.000000  186960.000000

In [ ]:
# Calcular STD de todas las columnas numéricas
df.std()

phd           12.498425
service       12.139768
salary     28293.661022
dtype: float64

In [ ]:
# Calcular STD para columna phd
df['phd'].std()
# Calcular STD para columna salario
df['salary'].std()

28293.661022264165

In [ ]:
# Calcular medias de los primeros 50 registros
df.head(50).mean()

phd            21.52
service        17.60
salary     113789.14
dtype: float64

In [ ]:
# Calcular STD de salario
df.salary.std()

28293.661022264165

In [ ]:
# Calcular promedio de los últimos 5 registros de salario
df.salary.tail(5).mean()

110780.8

In [ ]:
# Calcular estadísticos descriptivos de salario
df.salary.describe()

count        78.000000
mean     108023.782051
std       28293.661022
min       57800.000000
25%       88612.500000
50%      104671.000000
75%      126774.750000
max      186960.000000
Name: salary, dtype: float64

In [ ]:
# Promedio de los primeros 30 elementos de la columna salario 
mean1 = df.salary.head(30).mean()
mean2 = df.salary.tail(30).mean()

mean = (mean1 + mean2) / 2

std1 = df.salary.std()

resultado = mean + std1

print("Resultado: " + str(resultado))

Resultado: 134710.47768893084

In [ ]:
df_rank = df.groupby(['rank'])
df_rank.head(50)
df_rank.mean()

                 phd    service         salary
rank
AssocProf  15.076923  11.307692   91786.230769
AsstProf    5.052632   2.210526   81362.789474
Prof       27.065217  21.413043  123624.804348

Filtrado de datos

In [ ]:
df_filter = df[df.salary > 120000]
print(len(df_filter))
df_filter.head(50)

25

    rank discipline  phd  service     sex  salary
0   Prof          B   56       49    Male  186960
3   Prof          A   40       31    Male  131205
5   Prof          A   20       20    Male  122400
7   Prof          A   18       18    Male  126300
10  Prof          B   39       33    Male  128250
11  Prof          B   23       23    Male  134778
13  Prof          B   35       33    Male  162200
14  Prof          B   25       19    Male  153750
15  Prof          B   17        3    Male  150480
19  Prof          A   29       27    Male  150500
26  Prof          A   38       19    Male  148750
27  Prof          A   45       43    Male  155865
29  Prof          B   21       20    Male  123683
31  Prof          B   22       21    Male  155750
35  Prof          B   28       23    Male  126933
36  Prof          B   45       45    Male  146856
39  Prof          B   18       18  Female  129000
40  Prof          A   39       36  Female  137000
44  Prof          B   23       19  Female  151768
45  Prof          B   25       25  Female  140096
49  Prof          B   17       18  Female  122960
51  Prof          B   20       14  Female  127512
58  Prof          B   36       26  Female  144651
72  Prof          B   24       15  Female  161101
75  Prof          B   17       17  Female  124312

In [ ]:
# Obtener solo dos columnas (variables)
df[['rank','salary']]

   rank  salary
0  Prof  186960
1  Prof   93000
2  Prof  110515
3  Prof  131205
4  Prof  104800

In [ ]:
# Filtrar solo por filas

df[10:20][['rank']]

        rank
10      Prof
11      Prof
12  AsstProf
13      Prof
14      Prof
15      Prof
16  AsstProf
17  AsstProf
18      Prof
19      Prof

In [ ]:
# Ordenar data frame por servicio
df.sort_values(by = 'salary')

         rank discipline  phd  service     sex  salary
9        Prof          A   51       51    Male   57800
54  AssocProf          A   25       22  Female   62884
66   AsstProf          A    7        6  Female   63100
71  AssocProf          B   12        9  Female   71065
57   AsstProf          A    3        1  Female   72500
..        ...        ...  ...      ...     ...     ...
31       Prof          B   22       21    Male  155750
27       Prof          A   45       43    Male  155865
72       Prof          B   24       15  Female  161101
13       Prof          B   35       33    Male  162200
0        Prof          B   56       49    Male  186960

[78 rows x 6 columns]

#### Instalar paquete faltante datapackage
datahub.io

```
# This is formatted as code
```

In [ ]:
!pip install datapackage

Collecting datapackage
  Downloading https://files.pythonhosted.org/packages/12/3b/89542ab6c64d455cd4aca22261f61892260797d546048cbb537309b4dc0a/datapackage-1.15.0-py2.py3-none-any.whl (85kB)
     |████████████████████████████████| 92kB 2.3MB/s
Requirement already satisfied: click>=6.7 in /usr/local/lib/python3.6/dist-packages (from datapackage) (7.1.2)
Requirement already satisfied: jsonschema>=2.5 in /usr/local/lib/python3.6/dist-packages (from datapackage) (2.6.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from datapackage) (1.15.0)
Collecting tabulator>=1.29
  Downloading https://files.pythonhosted.org/packages/1d/12/22a346e531f25e97f303118adbad3a4ddfc453950030ee35e8386e2c6aaf/tabulator-1.52.3-py2.py3-none-any.whl (71kB)
     |████████████████████████████████| 71kB 3.0MB/s
Requirement already satisfied: requests>=2.8 in /usr/local/lib/python3.6/dist-packages (from datapackage) (2.23.0)
Collecting jsonpointer>=1.10
  Downloading https://files.pythonhosted.org/packages/18/b0/a80d29577c08eea401659254dfaed87f1af45272899e1812d7e01b679bc5/jsonpointer-2.0-py2.py3-none-any.whl
Collecting tableschema>=1.12.1
  Downloading https://files.pythonhosted.org/packages/20/f9/3e42a0c06f9e7c6e59fb1891b934daf611c270eef48bb5fad16c55623a0c/tableschema-1.19.3-py2.py3-none-any.whl (68kB)
     |████████████████████████████████| 71kB 4.1MB/s
Collecting unicodecsv>=0.14
  Downloading https://files.pythonhosted.org/packages/6f/a4/691ab63b17505a26096608cc309960b5a6bdf39e4ba1a793d5f9b1a53270/unicodecsv-0.14.1.tar.gz
Requirement already satisfied: chardet>=3.0 in /usr/local/lib/python3.6/dist-packages (from datapackage) (3.0.4)
Collecting ijson>=3.0.3
  Downloading https://files.pythonhosted.org/packages/ef/49/8bd1f82b3d376c3b4830486036b1032fc054ec1ad9d04f3f583776346ad2/ijson-3.1.1-cp36-cp36m-manylinux2010_x86_64.whl (128kB)
     |████████████████████████████████| 133kB 8.1MB/s
Requirement already satisfied: xlrd>=1.0 in /usr/local/lib/python3.6/dist-packages (from tabulator>=1.29->datapackage) (1.1.0)
Requirement already satisfied: sqlalchemy>=0.9.6 in /usr/local/lib/python3.6/dist-packages (from tabulator>=1.29->datapackage) (1.3.19)
Collecting linear-tsv>=1.0
  Downloading https://files.pythonhosted.org/packages/82/e5/03207a0f11e1d60df85b97b61704ed701b725a7c2feaf83f7bfbd0c2d83e/linear-tsv-1.1.0.tar.gz
Requirement already satisfied: boto3>=1.9 in /usr/local/lib/python3.6/dist-packages (from tabulator>=1.29->datapackage) (1.14.48)
Collecting jsonlines>=1.1
  Downloading https://files.pythonhosted.org/packages/4f/9a/ab96291470e305504aa4b7a2e0ec132e930da89eb3ca7a82fbe03167c131/jsonlines-1.2.0-py2.py3-none-any.whl
Collecting openpyxl>=2.6
  Downloading https://files.pythonhosted.org/packages/5c/90/61f83be1c335a9b69fa773784a785d9de95c7561d1661918796fd1cba3d2/openpyxl-3.0.5-py2.py3-none-any.whl (242kB)
     |████████████████████████████████| 245kB 8.8MB/s
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.8->datapackage) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.8->datapackage) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.8->datapackage) (2.10)
Collecting rfc3986>=1.1.0
  Downloading https://files.pythonhosted.org/packages/78/be/7b8b99fd74ff5684225f50dd0e865393d2265656ef3b4ba9eaaaffe622b8/rfc3986-1.4.0-py2.py3-none-any.whl
Collecting isodate>=0.5.4
  Downloading https://files.pythonhosted.org/packages/9b/9f/b36f7774ff5ea8e428fdcfc4bb332c39ee5b9362ddd3d40d9516a55221b2/isodate-0.6.0-py2.py3-none-any.whl (45kB)
     |████████████████████████████████| 51kB 4.9MB/s
Collecting cached-property>=1.5
  Downloading https://files.pythonhosted.org/packages/3b/86/85c1be2e8db9e13ef9a350aecd6dea292bd612fa288c2f40d035bb750ded/cached_property-1.5.1-py2.py3-none-any.whl
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.6/dist-packages (from tableschema>=1.12.1->datapackage) (2.8.1)
Requirement already satisfied: botocore<1.18.0,>=1.17.48 in /usr/local/lib/python3.6/dist-packages (from boto3>=1.9->tabulator>=1.29->datapackage) (1.17.48)
Requirement already satisfied: s3transfer<0.4.0,>=0.3.0 in /usr/local/lib/python3.6/dist-packages (from boto3>=1.9->tabulator>=1.29->datapackage) (0.3.3)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /usr/local/lib/python3.6/dist-packages (from boto3>=1.9->tabulator>=1.29->datapackage) (0.10.0)
Requirement already satisfied: jdcal in /usr/local/lib/python3.6/dist-packages (from openpyxl>=2.6->tabulator>=1.29->datapackage) (1.4.1)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.6/dist-packages (from openpyxl>=2.6->tabulator>=1.29->datapackage) (1.0.1)
Requirement already satisfied: docutils<0.16,>=0.10 in /usr/local/lib/python3.6/dist-packages (from botocore<1.18.0,>=1.17.48->boto3>=1.9->tabulator>=1.29->datapackage) (0.15.2)
Building wheels for collected packages: unicodecsv, linear-tsv
  Building wheel for unicodecsv (setup.py) ... done
  Created wheel for unicodecsv: filename=unicodecsv-0.14.1-cp36-none-any.whl size=10769 sha256=41d9593e9c6031e9791d298bffd92110cfc7b96fc75c162092bd3d485f8ba9c3
  Stored in directory: /root/.cache/pip/wheels/a6/09/e9/e800279c98a0a8c94543f3de6c8a562f60e51363ed26e71283
  Building wheel for linear-tsv (setup.py) ... done
  Created wheel for linear-tsv: filename=linear_tsv-1.1.0-cp36-none-any.whl size=7382 sha256=a26721f6d3b44830938cb5cce3d763f1e3c2d2934322bbbe73510e6ef242bc7b
  Stored in directory: /root/.cache/pip/wheels/3f/8a/cb/38917fd1ef4356b9870ace7331b83417dc594bf2c029bd991f
Successfully built unicodecsv linear-tsv
Installing collected packages: ijson, linear-tsv, jsonlines, openpyxl, unicodecsv, tabulator, jsonpointer, rfc3986, isodate, cached-property, tableschema, datapackage
  Found existing installation: openpyxl 2.5.9
    Uninstalling openpyxl-2.5.9:
      Successfully uninstalled openpyxl-2.5.9
Successfully installed cached-property-1.5.1 datapackage-1.15.0 ijson-3.1.1 isodate-0.6.0 jsonlines-1.2.0 jsonpointer-2.0 linear-tsv-1.1.0 openpyxl-3.0.5 rfc3986-1.4.0 tableschema-1.19.3 tabulator-1.52.3 unicodecsv-0.14.1

#### Importar datos desde datahub

In [ ]:
import datapackage

import pandas as pd

data_url = 'https://datahub.io/core/co2-ppm/datapackage.json'

# to load Data Package into storage
package = datapackage.Package(data_url)

# to load only tabular data
resources = package.resources
for resource in resources:
    if resource.tabular:
        data = pd.read_csv(resource.descriptor['path'])
        print (data)

           Date  Decimal Date  Average  Interpolated   Trend  Number of Days
0    1958-03-01      1958.208   315.71        315.71  314.62              -1
1    1958-04-01      1958.292   317.45        317.45  315.29              -1
2    1958-05-01      1958.375   317.50        317.50  314.71              -1
3    1958-06-01      1958.458   -99.99        317.10  314.85              -1
4    1958-07-01      1958.542   315.86        315.86  314.98              -1
..          ...           ...      ...           ...     ...             ...
722  2018-05-01      2018.375   411.24        411.24  407.91              24
723  2018-06-01      2018.458   410.79        410.79  408.49              29
724  2018-07-01      2018.542   408.71        408.71  408.32              27
725  2018-08-01      2018.625   406.99        406.99  408.90              30
726  2018-09-01      2018.708   405.51        405.51  409.02              29

[727 rows x 6 columns]
          Year    Mean  Uncertainty
0   1959-11-01  315.97         0.12
1   1960-11-01  316.91         0.12
2   1961-11-01  317.64         0.12
3   1962-11-01  318.45         0.12
4   1963-11-01  318.99         0.12
5   1964-11-01  319.62         0.12
6   1965-11-01  320.04         0.12
7   1966-11-01  321.38         0.12
8   1967-11-01  322.16         0.12
9   1968-11-01  323.04         0.12
10  1969-11-01  324.62         0.12
11  1970-11-01  325.68         0.12
12  1971-11-01  326.32         0.12
13  1972-11-01  327.45         0.12
14  1973-11-01  329.68         0.12
15  1974-11-01  330.18         0.12
16  1975-11-01  331.11         0.12
17  1976-11-01  332.04         0.12
18  1977-11-01  333.83         0.12
19  1978-11-01  335.40         0.12
20  1979-11-01  336.84         0.12
21  1980-11-01  338.75         0.12
22  1981-11-01  340.11         0.12
23  1982-11-01  341.45         0.12
24  1983-11-01  343.05         0.12
25  1984-11-01  344.65         0.12
26  1985-11-01  346.12         0.12
27  1986-11-01  347.42         0.12
28  1987-11-01  349.19         0.12
29  1988-11-01  351.57         0.12
30  1989-11-01  353.12         0.12
31  1990-11-01  354.39         0.12
32  1991-11-01  355.61         0.12
33  1992-11-01  356.45         0.12
34  1993-11-01  357.10         0.12
35  1994-11-01  358.83         0.12
36  1995-11-01  360.82         0.12
37  1996-11-01  362.61         0.12
38  1997-11-01  363.73         0.12
39  1998-11-01  366.70         0.12
40  1999-11-01  368.38         0.12
41  2000-11-01  369.55         0.12
42  2001-11-01  371.14         0.12
43  2002-11-01  373.28         0.12
44  2003-11-01  375.80         0.12
45  2004-11-01  377.52         0.12
46  2005-11-01  379.80         0.12
47  2006-11-01  381.90         0.12
48  2007-11-01  383.79         0.12
49  2008-11-01  385.60         0.12
50  2009-11-01  387.43         0.12
51  2010-11-01  389.90         0.12
52  2011-11-01  391.65         0.12
53  2012-11-01  393.85         0.12
54  2013-11-01  396.52         0.12
55  2014-11-01  398.65         0.12
56  2015-11-01  400.83         0.12
57  2016-11-01  404.24         0.12
58  2017-11-01  406.55         0.12
          Year  Annual Increase  Uncertainty
0   1959-11-01             0.94         0.11
1   1960-11-01             0.54         0.11
2   1961-11-01             0.95         0.11
3   1962-11-01             0.64         0.11
4   1963-11-01             0.71         0.11
5   1964-11-01             0.28         0.11
6   1965-11-01             1.02         0.11
7   1966-11-01             1.24         0.11
8   1967-11-01             0.74         0.11
9   1968-11-01             1.03         0.11
10  1969-11-01             1.31         0.11
11  1970-11-01             1.06         0.11
12  1971-11-01             0.84         0.11
13  1972-11-01             1.69         0.11
14  1973-11-01             1.22         0.11
15  1974-11-01             0.81         0.11
16  1975-11-01             1.09         0.11
17  1976-11-01             0.81         0.11
18  1977-11-01             2.16         0.11
19  1978-11-01             1.31         0.11
20  1979-11-01             1.80         0.11
21  1980-11-01             1.68         0.11
22  1981-11-01             1.43         0.11
23  1982-11-01             0.99         0.11
24  1983-11-01             2.10         0.11
25  1984-11-01             1.40         0.11
26  1985-11-01             1.26         0.11
27  1986-11-01             1.48         0.11
28  1987-11-01             2.20         0.11
29  1988-11-01             2.16         0.11
30  1989-11-01             1.36         0.11
31  1990-11-01             1.16         0.11
32  1991-11-01             1.04         0.11
33  1992-11-01             0.46         0.11
34  1993-11-01             1.35         0.11
35  1994-11-01             1.94         0.11
36  1995-11-01             2.00         0.11
37  1996-11-01             1.22         0.11
38  1997-11-01             1.93         0.11
39  1998-11-01             2.93         0.11
40  1999-11-01             0.93         0.11
41  2000-11-01             1.61         0.11
42  2001-11-01             1.61         0.11
43  2002-11-01             2.50         0.11
44  2003-11-01             2.27         0.11
45  2004-11-01             1.60         0.11
46  2005-11-01             2.54         0.11
47  2006-11-01             1.68         0.11
48  2007-11-01             2.27         0.11
49  2008-11-01             1.57         0.11
50  2009-11-01             2.02         0.11
51  2010-11-01             2.32         0.11
52  2011-11-01             1.92         0.11
53  2012-11-01             2.61         0.11
54  2013-11-01             2.01         0.11
55  2014-11-01             2.18         0.11
56  2015-11-01             3.02         0.11
57  2016-11-01             2.99         0.11
58  2017-11-01             1.89         0.11
           Date  Decimal Date  Average   Trend
0    1980-01-01      1980.042   338.45  337.83
1    1980-02-01      1980.125   339.15  338.10
2    1980-03-01      1980.208   339.48  338.13
3    1980-04-01      1980.292   339.87  338.25
4    1980-05-01      1980.375   340.30  338.78
..          ...           ...      ...     ...
458  2018-03-01      2018.208   408.57  406.92
459  2018-04-01      2018.292   408.88  407.06
460  2018-05-01      2018.375   408.75  407.14
461  2018-06-01      2018.458   407.86  407.34
462  2018-07-01      2018.542   406.39  407.74

[463 rows x 4 columns]
          Year    Mean  Uncertainty
0   1980-11-01  338.80          0.1
1   1981-11-01  340.00          0.1
2   1982-11-01  340.77          0.1
3   1983-11-01  342.44          0.1
4   1984-11-01  343.99          0.1
5   1985-11-01  345.47          0.1
6   1986-11-01  346.87          0.1
7   1987-11-01  348.62          0.1
8   1988-11-01  351.15          0.1
9   1989-11-01  352.79          0.1
10  1990-11-01  353.98          0.1
11  1991-11-01  355.29          0.1
12  1992-11-01  355.99          0.1
13  1993-11-01  356.71          0.1
14  1994-11-01  358.21          0.1
15  1995-11-01  360.05          0.1
16  1996-11-01  361.79          0.1
17  1997-11-01  362.90          0.1
18  1998-11-01  365.54          0.1
19  1999-11-01  367.64          0.1
20  2000-11-01  368.84          0.1
21  2001-11-01  370.41          0.1
22  2002-11-01  372.42          0.1
23  2003-11-01  374.96          0.1
24  2004-11-01  376.80          0.1
25  2005-11-01  378.81          0.1
26  2006-11-01  380.94          0.1
27  2007-11-01  382.68          0.1
28  2008-11-01  384.78          0.1
29  2009-11-01  386.29          0.1
30  2010-11-01  388.57          0.1
31  2011-11-01  390.45          0.1
32  2012-11-01  392.46          0.1
33  2013-11-01  395.19          0.1
34  2014-11-01  397.12          0.1
35  2015-11-01  399.41          0.1
36  2016-11-01  402.86          0.1
37  2017-11-01  405.00          0.1
          Year  Annual Increase  Uncertainty
0   1959-11-01             0.96         0.31
1   1960-11-01             0.71         0.27
2   1961-11-01             0.78         0.27
3   1962-11-01             0.56         0.27
4   1963-11-01             0.57         0.28
5   1964-11-01             0.49         0.27
6   1965-11-01             1.10         0.26
7   1966-11-01             1.10         0.28
8   1967-11-01             0.61         0.34
9   1968-11-01             0.99         0.32
10  1969-11-01             1.32         0.29
11  1970-11-01             1.13         0.32
12  1971-11-01             0.73         0.30
13  1972-11-01             1.47         0.31
14  1973-11-01             1.46         0.31
15  1974-11-01             0.68         0.31
16  1975-11-01             1.23         0.27
17  1976-11-01             0.97         0.28
18  1977-11-01             1.92         0.29
19  1978-11-01             1.29         0.24
20  1979-11-01             2.14         0.26
21  1980-11-01             1.70         0.11
22  1981-11-01             1.15         0.07
23  1982-11-01             0.99         0.07
24  1983-11-01             1.85         0.09
25  1984-11-01             1.24         0.12
26  1985-11-01             1.62         0.10
27  1986-11-01             1.02         0.11
28  1987-11-01             2.70         0.10
29  1988-11-01             2.25         0.09
30  1989-11-01             1.38         0.11
31  1990-11-01             1.17         0.09
32  1991-11-01             0.74         0.09
33  1992-11-01             0.70         0.10
34  1993-11-01             1.23         0.07
35  1994-11-01             1.68         0.11
36  1995-11-01             1.95         0.11
37  1996-11-01             1.06         0.08
38  1997-11-01             1.97         0.08
39  1998-11-01             2.82         0.11
40  1999-11-01             1.37         0.08
41  2000-11-01             1.23         0.11
42  2001-11-01             1.82         0.09
43  2002-11-01             2.36         0.07
44  2003-11-01             2.29         0.09
45  2004-11-01             1.57         0.05
46  2005-11-01             2.43         0.08
47  2006-11-01             1.75         0.06
48  2007-11-01             2.09         0.07
49  2008-11-01             1.79         0.05
50  2009-11-01             1.61         0.06
51  2010-11-01             2.43         0.07
52  2011-11-01             1.70         0.08
53  2012-11-01             2.39         0.07
54  2013-11-01             2.41         0.08
55  2014-11-01             2.04         0.08
56  2015-11-01             2.94         0.07
57  2016-11-01             2.86         0.08
58  2017-11-01             2.14         0.09
        Date  Decimal Date  Average  Interpolated   Trend  Number of Days
0    1958-03      1958.208   315.71        315.71  314.62              -1
1    1958-04      1958.292   317.45        317.45  315.29              -1
2    1958-05      1958.375   317.50        317.50  314.71              -1
3    1958-06      1958.458   -99.99        317.10  314.85              -1
4    1958-07      1958.542   315.86        315.86  314.98              -1
..       ...           ...      ...           ...     ...             ...
722  2018-05      2018.375   411.24        411.24  407.91              24
723  2018-06      2018.458   410.79        410.79  408.49              29
724  2018-07      2018.542   408.71        408.71  408.32              27
725  2018-08      2018.625   406.99        406.99  408.90              30
726  2018-09      2018.708   405.51        405.51  409.02              29

[727 rows x 6 columns]
    Year    Mean  Uncertainty
0   1959  315.97         0.12
1   1960  316.91         0.12
2   1961  317.64         0.12
3   1962  318.45         0.12
4   1963  318.99         0.12
5   1964  319.62         0.12
6   1965  320.04         0.12
7   1966  321.38         0.12
8   1967  322.16         0.12
9   1968  323.04         0.12
10  1969  324.62         0.12
11  1970  325.68         0.12
12  1971  326.32         0.12
13  1972  327.45         0.12
14  1973  329.68         0.12
15  1974  330.18         0.12
16  1975  331.11         0.12
17  1976  332.04         0.12
18  1977  333.83         0.12
19  1978  335.40         0.12
20  1979  336.84         0.12
21  1980  338.75         0.12
22  1981  340.11         0.12
23  1982  341.45         0.12
24  1983  343.05         0.12
25  1984  344.65         0.12
26  1985  346.12         0.12
27  1986  347.42         0.12
28  1987  349.19         0.12
29  1988  351.57         0.12
30  1989  353.12         0.12
31  1990  354.39         0.12
32  1991  355.61         0.12
33  1992  356.45         0.12
34  1993  357.10         0.12
35  1994  358.83         0.12
36  1995  360.82         0.12
37  1996  362.61         0.12
38  1997  363.73         0.12
39  1998  366.70         0.12
40  1999  368.38         0.12
41  2000  369.55         0.12
42  2001  371.14         0.12
43  2002  373.28         0.12
44  2003  375.80         0.12
45  2004  377.52         0.12
46  2005  379.80         0.12
47  2006  381.90         0.12
48  2007  383.79         0.12
49  2008  385.60         0.12
50  2009  387.43         0.12
51  2010  389.90         0.12
52  2011  391.65         0.12
53  2012  393.85         0.12
54  2013  396.52         0.12
55  2014  398.65         0.12
56  2015  400.83         0.12
57  2016  404.24         0.12
58  2017  406.55         0.12
    Year  Annual Increase  Uncertainty
0   1959             0.94         0.11
1   1960             0.54         0.11
2   1961             0.95         0.11
3   1962             0.64         0.11
4   1963             0.71         0.11
5   1964             0.28         0.11
6   1965             1.02         0.11
7   1966             1.24         0.11
8   1967             0.74         0.11
9   1968             1.03         0.11
10  1969             1.31         0.11
11  1970             1.06         0.11
12  1971             0.84         0.11
13  1972             1.69         0.11
14  1973             1.22         0.11
15  1974             0.81         0.11
16  1975             1.09         0.11
17  1976             0.81         0.11
18  1977             2.16         0.11
19  1978             1.31         0.11
20  1979             1.80         0.11
21  1980             1.68         0.11
22  1981             1.43         0.11
23  1982             0.99         0.11
24  1983             2.10         0.11
25  1984             1.40         0.11
26  1985             1.26         0.11
27  1986             1.48         0.11
28  1987             2.20         0.11
29  1988             2.16         0.11
30  1989             1.36         0.11
31  1990             1.16         0.11
32  1991             1.04         0.11
33  1992             0.46         0.11
34  1993             1.35         0.11
35  1994             1.94         0.11
36  1995             2.00         0.11
37  1996             1.22         0.11
38  1997             1.93         0.11
39  1998             2.93         0.11
40  1999             0.93         0.11
41  2000             1.61         0.11
42  2001             1.61         0.11
43  2002             2.50         0.11
44  2003             2.27         0.11
45  2004             1.60         0.11
46  2005             2.54         0.11
47  2006             1.68         0.11
48  2007             2.27         0.11
49  2008             1.57         0.11
50  2009             2.02         0.11
51  2010             2.32         0.11
52  2011             1.92         0.11
53  2012             2.61         0.11
54  2013             2.01         0.11
55  2014             2.18         0.11
56  2015             3.02         0.11
57  2016             2.99         0.11
58  2017             1.89         0.11
        Date  Decimal Date  Average   Trend
0    1980-01      1980.042   338.45  337.83
1    1980-02      1980.125   339.15  338.10
2    1980-03      1980.208   339.48  338.13
3    1980-04      1980.292   339.87  338.25
4    1980-05      1980.375   340.30  338.78
..       ...           ...      ...     ...
458  2018-03      2018.208   408.57  406.92
459  2018-04      2018.292   408.88  407.06
460  2018-05      2018.375   408.75  407.14
461  2018-06      2018.458   407.86  407.34
462  2018-07      2018.542   406.39  407.74

[463 rows x 4 columns]
    Year    Mean  Uncertainty
0   1980  338.80          0.1
1   1981  340.00          0.1
2   1982  340.77          0.1
3   1983  342.44          0.1
4   1984  343.99          0.1
5   1985  345.47          0.1
6   1986  346.87          0.1
7   1987  348.62          0.1
8   1988  351.15          0.1
9   1989  352.79          0.1
10  1990  353.98          0.1
11  1991  355.29          0.1
12  1992  355.99          0.1
13  1993  356.71          0.1
14  1994  358.21          0.1
15  1995  360.05          0.1
16  1996  361.79          0.1
17  1997  362.90          0.1
18  1998  365.54          0.1
19  1999  367.64          0.1
20  2000  368.84          0.1
21  2001  370.41          0.1
22  2002  372.42          0.1
23  2003  374.96          0.1
24  2004  376.80          0.1
25  2005  378.81          0.1
26  2006  380.94          0.1
27  2007  382.68          0.1
28  2008  384.78          0.1
29  2009  386.29          0.1
30  2010  388.57          0.1
31  2011  390.45          0.1
32  2012  392.46          0.1
33  2013  395.19          0.1
34  2014  397.12          0.1
35  2015  399.41          0.1
36  2016  402.86          0.1
37  2017  405.00          0.1
    Year  Annual Increase  Uncertainty
0   1959             0.96         0.31
1   1960             0.71         0.27
2   1961             0.78         0.27
3   1962             0.56         0.27
4   1963             0.57         0.28
5   1964             0.49         0.27
6   1965             1.10         0.26
7   1966             1.10         0.28
8   1967             0.61         0.34
9   1968             0.99         0.32
10  1969             1.32         0.29
11  1970             1.13         0.32
12  1971             0.73         0.30
13  1972             1.47         0.31
14  1973             1.46         0.31
15  1974             0.68         0.31
16  1975             1.23         0.27
17  1976             0.97         0.28
18  1977             1.92         0.29
19  1978             1.29         0.24
20  1979             2.14         0.26
21  1980             1.70         0.11
22  1981             1.15         0.07
23  1982             0.99         0.07
24  1983             1.85         0.09
25  1984             1.24         0.12
26  1985             1.62         0.10
27  1986             1.02         0.11
28  1987             2.70         0.10
29  1988             2.25         0.09
30  1989             1.38         0.11
31  1990             1.17         0.09
32  1991             0.74         0.09
33  1992             0.70         0.10
34  1993             1.23         0.07
35  1994             1.68         0.11
36  1995             1.95         0.11
37  1996             1.06         0.08
38  1997             1.97         0.08
39  1998             2.82         0.11
40  1999             1.37         0.08
41  2000             1.23         0.11
42  2001             1.82         0.09
43  2002             2.36         0.07
44  2003             2.29         0.09
45  2004             1.57         0.05
46  2005             2.43         0.08
47  2006             1.75         0.06
48  2007             2.09         0.07
49  2008             1.79         0.05
50  2009             1.61         0.06
51  2010             2.43         0.07
52  2011             1.70         0.08
53  2012             2.39         0.07
54  2013             2.41         0.08
55  2014             2.04         0.08
56  2015             2.94         0.07
57  2016             2.86         0.08
58  2017             2.14         0.09